<!-- Uncomment this file in .gitignore before publishing an announcement. -->

<!-- {% extends "base.html" %}

{% block announce %}
  <div style="text-align: center;">Interested in personal knowledge management (PKM)? See my post <a href="https://engineering.mercari.com/en/blog/entry/20221202-capturing-and-applying-knowledge-through-a-pkm-practice/" target="_blank">Capturing and applying knowledge through a PKM practice</a> on the Mercari Engineering Blog!</div>
{% endblock %} -->

<!-- When an announcement is not posted, use the following boilerplate text: Add announcement here, including arbitrary HTML -->
