# Requirements for core
mkdocs-video
mkdocs-git-revision-date-localized-plugin
python-slugify
mkdocs-git-committers-plugin-2
mkdocs-rss-plugin
jinja2>=3.0.2
markdown>=3.2
mkdocs>=1.4.0
mkdocs-material-extensions>=1.0.3
pygments>=2.12
pymdown-extensions>=9.4
#mkdocs-techdocs-core
#mkdocs-multirepo-plugin

# Requirements for plugins
requests>=2.26