# Requirements for core
cairosvg
jinja2>=3.0
markdown>=3.2
mkdocs>=1.4.2
# Show docs contributors (currently disabled since this is a home page that primarily includes a blog and links to projects)
#mkdocs-git-committers-plugin-2
# Show the last updated date (currently disabled since this is a home page that primarily includes a blog and links to projects)
#mkdocs-git-revision-date-localized-plugin
mkdocs-material-extensions>=1.1
mkdocs-minify-plugin
#mkdocs-multirepo-plugin
mkdocs-redirects
mkdocs-rss-plugin>=1.5
# Not being used because of issues mentioned in `mkdocs.yml`.
#mkdocs-techdocs-core
mkdocs-video
pillow 
pygments>=2.14
pymdown-extensions>=9.9
python-slugify

# Requirements for plugins
babel>=2.10.3
colorama>=0.4
lxml>=4.6
paginate>=0.5.6
pipdeptree>=2.3
pngquant
regex>=2022.4.24
readtime>=2.0
requests>=2.26
